<section
  id="hero"
  class="d-flex flex-column justify-content-center"
  style="padding: 0 25%;"
>
  <div class="hero-container" data-aos="fade-in">
    <h1>Satin Patel</h1>
    <p>
      I'm <span class="typed">{{ typedText$ | async }}</span>
    </p>
    <p>
      <button class="btn-hero mx-2 original">Resume <i class="fa-solid fa-circle-down"></i></button>
      <button class="btn-hero mx-4 reversed">Get Hire <i class="fa-solid fa-fire-flame-curved"></i></button>
      
    </p>
  </div>
</section>