<header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img
          src="../assets/images/profile-img.jpg"
          alt=""
          class="img-fluid rounded-circle"
        />
        <h1 class="text-light"><a href="index.html">Satin Patel</a></h1>
        <div class="social-links text-center">
          <a href="#" class="twitter"><img class="img-social-icon" src="../assets/images/twitter.png" title="Twitter"/></a>
          <a href="#" class="facebook"><img class="img-social-icon" src="../assets/images/whatsapp.png" title="Whatsapp"/></a>
          <a href="#" class="instagram"><img class="img-social-icon" src="../assets/images/instagram.png" title="Instagram"/></a>
          <a href="#" class="google-plus"><img class="img-social-icon" src="../assets/images/github.png" title="Github"/></a>
          <a href="#" class="linkedin"><img class="img-social-icon" src="../assets/images/linkedin.png" title="LinkedIn"/></a>
        </div>
      </div>
  
      <nav id="navbar" class="nav-menu navbar py-4 px-4">
        <ul>
          <li>
            <a
              href="#hero"
              class="nav-link scrollto active d-flex"
              style="gap: 10px"
              ><i class="bx bx-home"></i> <span>Home</span></a
            >
          </li>
          <li>
            <a href="#about" class="nav-link scrollto d-flex" style="gap: 10px"
              ><i class="bx bx-user"></i> <span>About</span></a
            >
          </li>
          <li>
            <a href="#skills" class="nav-link scrollto d-flex" style="gap: 10px"
              ><i class="bx bx-file-blank"></i> <span>Skills</span></a
            >
          </li>
          <li>
            <a
              href="#portfolio"
              class="nav-link scrollto d-flex"
              style="gap: 10px"
              ><i class="bx bx-book-content"></i> <span>Education</span></a
            >
          </li>
          <li>
            <a href="#services" class="nav-link scrollto d-flex" style="gap: 10px"
              ><i class="bx bx-server"></i> <span>Experience</span></a
            >
          </li>
          <li>
            <a href="#contact" class="nav-link scrollto d-flex" style="gap: 10px"
              ><i class="bx bx-envelope"></i> <span>Contact</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>